.lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea tres columnas iguales */
    gap: 10px; /* Espacio entre elementos */
  }
  .label {
    margin-bottom: 10px; 
  }

.filterContainer {
    
    flex-direction: column;
    height: auto;
    
    
  }